b {
	font-size: 50px;
	color: blue;
	background-color: red;
}

b i {
	color: green;
	margin: 50px;
	text-transform: uppercase; 
}

i {
	color: blue;
}

ul li ul li {
	color: green;
	font-weight: bolder; /*comentario*/
}

body {
	/*cor da página cinza*/
	background-color: #fff;
}

table, table td {
	border: 1px dotted red;
}

a:hover {
	background-color: pink;
	margin-left: 30px;
	margin-right: 2px;
	margin-top: 3px;
	margin-bottom: 4px;
	margin: 10px;
	margin: 3px 2px 4px 30px;
	padding: 50px;
}