* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
}

body {
	background-color: #f9f9f9;
}

#geral {
	width: 70%;
	margin: 0 auto;
}

#geral #topo {
	width: 100%;
	padding: 15px;
	border-bottom: 1px solid #c9c9c9;
}

#geral #topo form {
	float: right;
	margin-top: 13px;
	border-right: 1px solid #c9c9c9;
}

#geral #topo form input {
	width: 170px;
	height: 26px;
	float: right;
	border: 0px;
	border-bottom: 1px solid #c9c9c9;
}

#geral #topo form input:hover {
	border-bottom: 1px solid #0099cc;
	cursor: pointer;
}

#geral #topo form img {
	border: 0px;
	cursor: pointer;
	float: right;
	margin-top: 0px;
	padding-right: 5px;
}

#geral #topo img {
	margin-top: 5px; 
	padding-right: 15px;
	border-right: 1px solid #c9c9c9;
}

#geral #topo li {
	width: 150px;
	list-style-type: none;
	display: inline-block;
	font-size: 18px;
	font-weight: lighter;
	float: left;
	margin-left: 15px;
}

#geral #topo li ul {
	border-top: 1px solid red;
	padding: 0px;
	padding-top: 15px;
	margin-top: 15px;

	display: none;
}

#geral #topo li ul li {
	margin: 0px;
	margin-top: 2px;
}

#geral #topo li ul li a {
	font-size: 14px;
	text-decoration: none;
	color: #444;
}

#geral #topo li:hover, #geral #topo li ul li a:hover {
	color: #0099cc;
	cursor: pointer;
}

#geral #meio, #geral #base {
	width: 100%;
	float: left;
}

#geral #meio {
	border-bottom: 1px solid #c9c9c9;
}

#geral #base {
	margin-top: 20px;
}

#geral #base ul {
	width: 95%;
	margin: 0 auto;
}

#geral #base ul li {
	list-style-type: none;
	display: inline-block;
	width: 15%;
	background-color: #fff;
	border: 1px solid #0099cc;
	padding: 5px;
	text-align: center;
	color: #0099cc;
	font-size: 14px;
	float: left;
	margin-left: 3%;
}

#geral #logo, #geral #topo, #geral #menu {
	float: left;
}

#geral #menu {
	margin-top: 13px;
	margin-left: 20px;
}

#geral #meio img {
	width: inherit;
}